<div class="mt-5 page-margin">
    <h1>POC 3 - Usando Table</h1>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th *ngFor="let displayedColumn of displayedColumns" scope="col">{{displayedColumn}}</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of data; let index=index">
                <td *ngFor="let attribute of getAtributosDeUmItem(item)">{{attribute}}</td>
                <td>
                    <app-bar-chart [chartIdentification]="index.toString()"></app-bar-chart>
                </td>
            </tr>
        </tbody>
    </table>

</div>