<div style="background-color: brown">
  <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Example icon-button with a menu">
    <mat-icon style="color: white">more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item routerLink="/">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </button>
    <button mat-menu-item routerLink="/poc1">
      <mat-icon>table_chart</mat-icon>
      <span>POC 1 - Table</span>
    </button>
    <button mat-menu-item routerLink="/poc2">
      <mat-icon>grid_on</mat-icon>
      <span>POC 2 - Grid</span>
    </button>
    <button mat-menu-item routerLink="/poc3">
      <mat-icon>table_chart</mat-icon>
      <span>POC 3 - Table</span>
    </button>
    <button mat-menu-item disabled>
      <mat-icon>cached</mat-icon>
      <span>POC 4 - Loading ...</span>
    </button>
  </mat-menu>
</div>

<router-outlet></router-outlet>

<app-to-tests></app-to-tests>