.mt-5 {
    margin-top: 20px;
}

.page-margin {
    margin-left: 40px;
    margin-right: 40px;
}

h1 {
    text-align: center;
    font-weight: 500;
}

table {
    width: 100%;
}

.header {
    background-color: #F3F4F6;
}

.bg-success {
    background-color: #2A7050 !important;
}